---
# For more information about the configuration file, see:
# https://yamllint.readthedocs.io/en/stable/configuration.html
extends: default
yaml-files: ["*.yaml", "*.yml", .yamllint, .yamllint.yaml]
ignore: [.venv/, node_modules/, dotbot/, .serena/]
rules:
  document-start: disable
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable # don't bother me with this rule
  line-length:
    max: 120
    level: warning
