# Shell aliases only in this file.

#
# common aliases
#

alias vim=nvim
alias top=htop``
alias loc=tokei

# Pipe my public key to my clipboard.
if [ "$(command -v pbcopy)" ]; then
    alias pubkey="more ~/.ssh/id_ed25519.pub | pbcopy | echo '=> Public key copied to pasteboard.'"
fi

#
# inline utilities
#
# on Ubuntu the bat pkg is called 'batcat'
if [ "$(command -v batcat)" ]; then alias bat='batcat'; fi

# bat (cat(1) clone with wings)
if [ "$(command -v bat)" ]; then
    unalias -m 'cat'
    alias cat='bat -p'
fi

if command -v dpkg && dpkg --get-selections | grep -q 'fd-find'; then
    alias fd=fdfind
fi
