layout{
    tab name="Coding" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane size="60%" split_direction="horizontal" {
                pane command="nvim" size="60%" {
                    args "."
                }
                pane command="lazygit" size="40%"
            }
            pane size="40%" stacked=true {
                pane name="Terminal"
                pane name="Claude Code" command="claude"
                pane name="Gemini Cli" command="gemini"
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Planing" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="gemini"
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Review" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="lazygit"
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Usage" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="bunx" {
            args "ccusage" "blocks" "--live"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Terminal" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane focus=true
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
